<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<link rel="stylesheet" href="./styles.css" />

</head>

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Loan Management</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
</head>
<style>
.topnav {
	overflow: hidden;
	background-color: #77815c;
	border-radius: 15px;
}

.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}
</style>
<body>

	<div class=topnav>
		<h3 style="align: center">Amman Finance</h3>

	</div>

	<div>
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link active"
				aria-current="page" href="#">Active</a></li>
			<li class="nav-item"><a th:href="@{/menu3}" class="nav-link">Link</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
			<li class="nav-item"><a class="nav-link disabled">Disabled</a></li>
		</ul>
	</div>
</body>
</html>
